.register {
  padding: 70px 0 0 0;
  margin: 0 calc(50% - 198px);
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
}

.register__logo {
  width: 38px;
  height: 38px;
  background-image: url("../../images/header-logo.svg");
}

.register__form {
  display: flex;
  flex-direction: column;
}

.form__header {
  margin: 40px 0 30px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.form__input {
  margin: 10px 0 10px 0;
  border: none;
  padding: 0;
  width: 366px;
  height: 46px;
  background: #f9f9f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.form__input[type="text"] {
  padding: 0 15px;
}

.form__input[type="email"] {
  padding: 0 15px;
}

.form__input[type="password"] {
  padding: 0 15px;
}

.form__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.form__subtitle {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

.form__link {
  margin-left: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-align: center;
  color: #ff6838;
}

.form__submit-button {
  margin: 70px 0 16px 0;
  padding: 0;
  width: 396px;
  height: 45px;
  background: #ff6838;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .register {
    padding: 232px 0 0 0;
  }
}

@media screen and (max-width: 450px) {
  .register {
    padding: 56px 0 0 0;
    margin: 0 calc(50% - 130px);
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .register__logo {
    margin: 0 calc(50% - 19px);
  }
  .form__header {
    text-align: center;
  }
  .form__input {
    width: 260px;
  }
  .form__submit-button {
    width: 260px;
  }
  .form__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
